<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#body" class="scrollto">Links<span>News</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#body"><img src="./assets/reader/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#body">Trang chủ</a></li>
        <li><a (click)="getTypes(1)">Xã hội</a></li>
        <li><a (click)="getTypes(2)" >Cộng nghệ</a></li>
        <li><a (click)="getTypes(3)" routerLinkActive="active">Văn hóa</a></li>
        <li><a (click)="getTypes(4)">Giải trí</a></li>
        <li><a (click)="getTypes(5)">Gia đình</a></li>
        <li><a (click)="getTypes(6)">Pháp luật</a></li>
        <li><a (click)="getTypes(7)">Tin khác</a></li>
        <li><button id="btnLogin" class="btn btn-primary p-1" (click)="onLogin()">{{ session!=null ? session.username  : "Login"}}</button></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<section id="search" class="mt-4">

  <div class="container">
    <div class="row  text-center" >
      <div class="col-lg-4">

      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="search....." [(ngModel)]="title">
        <i class="fa fa-search" (click)="search()"></i>
      </div>
    </div>

  </div>

</section>

<!--==========================
  Services Section
============================-->
<section id="services">
  <div class="container" *ngIf="newsPaging">
    <div class="section-header">
      <h2>News Post</h2>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a (click)="navigate(newsPaging.Items[0].news_id)">{{newsPaging.Items[0].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[0].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[0].username}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title" ><a (click)="navigate(newsPaging.Items[1].news_id)">{{newsPaging.Items[1].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[1].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[1].username}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title" ><a (click)="navigate(newsPaging.Items[2].news_id)">{{newsPaging.Items[2].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[2].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[2].username}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title" ><a (click)="navigate(newsPaging.Items[3].news_id)">{{newsPaging.Items[3].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[3].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[3].username}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title" ><a (click)="navigate(newsPaging.Items[4].news_id)">{{newsPaging.Items[4].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[4].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[4].username}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title" ><a (click)="navigate(newsPaging.Items[5].news_id)">{{newsPaging.Items[5].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[5].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[5].username}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title" ><a (click)="navigate(newsPaging.Items[6].news_id)">{{newsPaging.Items[6].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[6].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[6].username}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title" ><a (click)="navigate(newsPaging.Items[7].news_id)">{{newsPaging.Items[7].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[7].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[7].username}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title" (click)="navigate(newsPaging.Items[8].news_id)"><a href="">{{newsPaging.Items[8].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[8].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[8].username}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a  (click)="navigate(newsPaging.Items[9].news_id)">{{newsPaging.Items[9].title}}</a></h4>
          <p class="description text-right">{{newsPaging.Items[9].postdate}}</p>
          <p class="description text-right bold">{{newsPaging.Items[9].username}}</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- #services -->

<main id="main">
  <!--==========================
    Our Portfolio Section
  ============================-->
  <section id="portfolio" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Our Portfolio</h2>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row no-gutters">

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/reader/img/portfolio/1.jpg" class="portfolio-popup">
              <img src="assets/reader/img/portfolio/1.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 1</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/reader/img/portfolio/2.jpg" class="portfolio-popup">
              <img src="assets/reader/img/portfolio/2.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 2</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/reader/img/portfolio/3.jpg" class="portfolio-popup">
              <img src="assets/reader/img/portfolio/3.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 3</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/reader/img/portfolio/4.jpg" class="portfolio-popup">
              <img src="assets/reader/img/portfolio/4.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 4</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/reader/img/portfolio/5.jpg" class="portfolio-popup">
              <img src="assets/reader/img/portfolio/5.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 5</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/reader/img/portfolio/6.jpg" class="portfolio-popup">
              <img src="assets/reader/img/portfolio/6.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 6</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/reader/img/portfolio/7.jpg" class="portfolio-popup">
              <img src="assets/reader/img/portfolio/7.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 7</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/reader/img/portfolio/8.jpg" class="portfolio-popup">
              <img src="assets/reader/img/portfolio/8.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 8</h2></div>
              </div>
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #portfolio -->

  <!--==========================
    Testimonials Section
  ============================-->
  <section id="testimonials" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Feedbacks</h2>
      </div>
      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
          <p>
            <img src="assets/reader/img/quote-sign-left.png" class="quote-sign-left" alt="">
            Chúng tôi thấy tin tức của website rất nhanh nắm bắt đúng thời gian tin tức lại phù hợp
            <img src="assets/reader/img/quote-sign-right.png" class="quote-sign-right" alt="">
          </p>
          <img src="assets/reader/img/testimonial-1.jpg" class="testimonial-img" alt="">
          <h3>Saul Goodman</h3>
          <h4>Ceo &amp; Founder</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <img src="assets/reader/img/quote-sign-left.png" class="quote-sign-left" alt="">
            Bài viết admin trình bày hôm qua được, viết rất tốt, dễ hiểu và nhấn mạnh vào những khó khăn về tài chính của hầu hết các công ty trên thị trường
            <img src="assets/reader/img/quote-sign-right.png" class="quote-sign-right" alt="">
          </p>
          <img src="assets/reader/img/testimonial-2.jpg" class="testimonial-img" alt="">
          <h3>Sara Wilsson</h3>
          <h4>Designer</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <img src="assets/reader/img/quote-sign-left.png" class="quote-sign-left" alt="">
            Chúng tôi yêu các bạn
            <img src="assets/reader/img/quote-sign-right.png" class="quote-sign-right" alt="">
          </p>
          <img src="assets/reader/img/testimonial-3.jpg" class="testimonial-img" alt="">
          <h3>Jena Karlis</h3>
          <h4>Store Owner</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <img src="assets/reader/img/quote-sign-left.png" class="quote-sign-left" alt="">We want to work with the site
            <img src="assets/reader/img/quote-sign-right.png" class="quote-sign-right" alt="">
          </p>
          <img src="assets/reader/img/testimonial-4.jpg" class="testimonial-img" alt="">
          <h3>Matt Brandon</h3>
        </div>

        <div class="testimonial-item">
          <p>
            <img src="assets/reader/img/quote-sign-left.png" class="quote-sign-left" alt="">
            Chúng tôi muốn giao lưu với biên tập website
            <img src="assets/reader/img/quote-sign-right.png" class="quote-sign-right" alt="">
          </p>
          <img src="assets/reader/img/testimonial-5.jpg" class="testimonial-img" alt="">
          <h3>John Larson</h3>
          <h4>Entrepreneur</h4>
        </div>

      </div>

    </div>
  </section><!-- #testimonials -->

  <!--==========================

    Our Team Section
  ============================-->
  <section id="team" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Our Team</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic"><img src="assets/reader/img/dat.jpg" alt=""></div>
            <div class="details">
              <h4>Dat Phan</h4>
              <span>Admin</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic"><img src="assets/reader/img/thuongnote.jpg" alt=""></div>
            <div class="details">
              <h4>Thuong Nguyen</h4>
              <span>Admin</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../../assets/reader/img/Minh.jpg" alt=""></div>
            <div class="details">
              <h4>Minh Nguyen</h4>
              <span>Admin</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #team -->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Contact Us</h2>
        <p>Cộng tác với chúng tôi để khiến chúng tôi đem đến những điều tốt đẹp cho bạn</p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, Tp Hồ Chí Minh, Việt Nam</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+155895548855">0908123456</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:info@example.com">newsmail@gmail.com</a></p>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="form"  >
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="email" class="form-control" id="email" placeholder="Your Email"
                     [(ngModel)]="email_feedback" [ngModelOptions]="{standalone: true}" disabled/>
            </div>
            <div class="form-group col-md-6">
            <div id="g-signin2" ></div>
          </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" id="content"
                      data-msg="Please write something for us" placeholder="Message"
                      [(ngModel)]="feedback.content" [ngModelOptions]="{standalone: true}"></textarea>
            <div class="validation"></div>
          </div>
          <div class="text-center">
            <button type="button" (click)="sendFeedBack()">Send Message</button>
          </div>
        </form>
      </div>

    </div>
  </section>
</main>



