


  <!--==========================
    About Section
  ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row" *ngIf="newsFirst">
        <div class="col-lg-5 about-img">
          <!--<img src="{{newsFirst.image[0]}}" alt="">-->
        </div>

        <div class="col-lg-7 content">
          <h2>{{newsFirst.title}}</h2>
          <div class="text-truncate"><i class="ion-android-checkmark-circle"></i> {{newsFirst.content}}</div>

        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services">
    <div class="container" *ngIf="newsPaging">
      <div class="section-header">
        <h2>News Post</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <!--<div class="icon">{{news.image[0]}}</div>-->
            <h4 class="title"><a href="">{{newsPaging.Items[0].title}}</a></h4>
            <p class="description text-truncate">{{newsPaging.Items[0].content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <!--<div class="icon"><i class="fa fa-picture-o"></i></div>-->
            <h4 class="title"><a href="">{{newsPaging.Items[1].title}}</a></h4>
            <p class="description text-truncate">{{newsPaging.Items[1].content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <!--<div class="icon">{{news.image[0]}}</div>-->
            <h4 class="title"><a href="">{{newsPaging.Items[2].title}}</a></h4>
            <p class="description text-truncate">{{newsPaging.Items[2].content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-picture-o"></i></div>
            <h4 class="title"><a href="">{{newsPaging.Items[3].title}}</a></h4>
            <p class="description text-truncate">{{newsPaging.Items[3].content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <!--<div class="icon">{{news.image[0]}}</div>-->
            <h4 class="title"><a href="">{{newsPaging.Items[4].title}}</a></h4>
            <p class="description text-truncate text-truncate">{{newsPaging.Items[4].content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-picture-o"></i></div>
            <h4 class="title"><a href="">{{newsPaging.Items[5].title}}</a></h4>
            <p class="description text-truncate">{{newsPaging.Items[5].content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <!--<div class="icon">{{news.image[0]}}</div>-->
            <h4 class="title"><a href="">{{newsPaging.Items[6].title}}</a></h4>
            <p class="description text-truncate text-truncate">{{newsPaging.Items[6].content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-picture-o"></i></div>
            <h4 class="title"><a href="">{{newsPaging.Items[7].title}}</a></h4>
            <p class="description text-truncate">{{newsPaging.Items[7].content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <!--<div class="icon">{{news.image[0]}}</div>-->
            <h4 class="title"><a href="">{{newsPaging.Items[8].title}}</a></h4>
            <p class="description text-truncate text-truncate">{{newsPaging.Items[8].content}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-picture-o"></i></div>
            <h4 class="title"><a href="">{{newsPaging.Items[9].title}}</a></h4>
            <p class="description text-truncate">{{newsPaging.Items[9].content}}</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #services -->

  <!--==========================
    Clients Section
  ============================-->
  <section id="clients" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Clients</h2>
        <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim
          export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export
          irure minim illum fore</p>
      </div>

      <div class="owl-carousel clients-carousel">
        <img src="./assets/reader/img/clients/client-1.png" alt="">
        <img src="./assets/reader/img/clients/client-2.png" alt="">
        <img src="./assets/reader/img/clients/client-3.png" alt="">
        <img src="./assets/reader/img/clients/client-4.png" alt="">
        <img src="./assets/reader/img/clients/client-5.png" alt="">
        <img src="./assets/reader/img/clients/client-6.png" alt="">
        <img src="./assets/reader/img/clients/client-7.png" alt="">
        <img src="./assets/reader/img/clients/client-8.png" alt="">
      </div>

    </div>
  </section><!-- #clients -->


