<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#body" class="scrollto">Links<span>News</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#body"><img src="./assets/reader/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#body">Trang chủ</a></li>
        <li><a href="#services">Xã hội</a></li>
        <li><a href="#portfolio">Cộng nghệ</a></li>
        <li><a href="#team">Văn hóa</a></li>
        <li><a href="#team">Giải trí</a></li>
        <li><a href="#team">Gia đình</a></li>
        <li><a href="#team">Pháp luật</a></li>
        <li><a href="#team">Tin khác</a></li>
        <li><button id="btnLogin" class="btn btn-primary p-1" ng-click="onLogin()">Login</button></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<router-outlet></router-outlet>

